{% extends "base.html" %}

{% load static %}

{% block title %}Homepage{% endblock title %}

{% block topsection %}
    <section class="home-banner" id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 position-u flex-align wow fadeInLeft">
                        <div class="banner-contain">
                            <h1 class="banner-heading">{{slider.title}}<span>{{slider.highlighted_title}}</span></h1>
                            <p class="banner-des">{{slider.description}}</p>
                            <a href="#1" class="btn">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 position-u wow fadeInRight">
                        <div class="banner-img">
                            <img src="{{slider.image.url}}" alt="banner">
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock topsection %}

{% block maincontent %}
    <section class="work-part lightskyblue ptb-100" id="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-heading text-center pb-65">
                        <label class="sub-heading">TeachNPro</label>
                        <h2 class="heading-title">About Us</h2>
                        <p class="heading-des">At techNpro, we craft innovative and tailored web solutions to bring your digital ideas to life.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center flex-align justify-center wow fadeInLeft">
                    <div class="work-box abt-adj">
                        <div class="work-box-bg"></div>
                        <img src="{{about.image.url}}" class="rotation-img" alt="Work Process">
                    </div>
                </div>
                <div class="col-md-6 flex-align wow fadeInRight">
                    <div class="work-box">
                        <h3 class="work-process-title pb-25">{{about.title}}</h3>
                        <p class="work-des pb-20">{{about.description}} </p>

                        <ul class="check-list">
                            <li>
                                <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                <p>{{ about.point1 }}</p>
                            </li>
                            <li>
                                <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                <p>{{ about.point2 }}</p>
                            </li>
                            <li>
                                <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                <p>{{ about.point3 }}</p>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature-part pt-100 pb-10" id="2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-heading text-center pb-65">
                        <label class="sub-heading">TeachNPro</label>
                        <h2 class="heading-title">Our services</h2>
                        <p class="heading-des">Empowering Your Business with Tailored Digital Solutions</p>
                    </div>
                </div>
            </div>
            <div class="row">
                    {% for services in service %}
                    <div class="col-md-4 wow fadeInUp pb-80">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <img src="{{ services.image.url }}" alt="feature">
                            </div>
                            <div class="feature-contain pt-25">
                                <a href="feature.html" class="feature-title">{{ services.title }}</a>
                                <p class="feature-des">{{ services.description }}</p>
                            </div>
                        </div>    
                    </div>
                    {% endfor %}
            </div>
            
        </div>
    </section>

    <section id="tokensale-part" class="token-sale parallax lightskyblue ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft flex-align">
                    <div class="w-100">
                        <div class="section-heading pb-20">
                            <label class="sub-heading">TeachNPro</label>
                            <h2 class="heading-title">{{wcu.title}}</h2>
                            <p class="heading-des">{{wcu.description}}</p>
                        </div>
                        <div class="token-graphic-detail">
                            <ul>
                                <li class="color-code-1">{{wcu.point1}}</li>
                                <li class="color-code-2">{{wcu.point2}}</li>
                                <li class="color-code-3">{{wcu.point3}}</li>
                                <li class="color-code-4">{{wcu.point4}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 flex-align justify-center-r">
                    <div class="token-graph w-100">
                        <img src={{wcu.image.url}} alt="cryptoz">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-part ptb-100" id="4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-heading text-center pb-65">
                        <label class="sub-heading">TeachNPro</label>
                        <h2 class="heading-title">Our Blogs</h2>
                        <p class="heading-des">Explore our blog for the latest insights, tips, and trends in web development, digital innovation, and technology. Stay informed and inspired with expert articles crafted for you.</p>
                    </div>
                </div>
            </div>
            <div class="blog-slider owl-carousel">
                {%for data in blog%}
                <div class="blog-box wow fadeInUp">
                    <div class="blog-img mb-15">
                        <a href="blog-detail.html"><img src={{data.image.url}} alt="blog"></a>
                    </div>
                    <div class="blog-des-box">
                        <a href="blog-detail.html" class="blog-title">{{data.title}}</a>
                        <ul class="blog-date">
                            <li>{{data.date}}</li>
                        </ul>
                        <p class="blog-des">{{data.description}} </p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>

    <section class="contact-form ptb-100" id="5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-heading text-center pb-65">
                        <label class="sub-heading">techNpro</label>
                        <h2 class="heading-title">Contact Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInLeft">
                    <div class="section-heading">
                        <p class="heading-des">We’d love to hear from you! Reach out to us for inquiries, collaborations, or support. Our team is ready to assist you and bring your ideas to life. Let’s connect today! </p>
                    </div>
                    <ul class="contact-detail">
                        <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:123456789">{{contact.phone_number}}</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@example.com">{{contact.email}}</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{contact.address}}</span></li>
                    </ul>
                </div>
                <div class="col-md-6 wow fadeInRight">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone"  required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="question" placeholder="Question*" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn">submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock maincontent %}
